<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 해설:  xmlns:th="http://www.thymeleaf.org"
        이거 넣으면 '이제부터 이 문서는 타임리프 템플릿이다' 라는 뜻
 -->

<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>
<!-- 할 일: 타임리프 deCoupled 로직 적용해보기
            deCoupled 로직이란 html 문서에 타임리프 문법 없이 순수 html 태그 들로만 구성되도록 하는 것
            별도의 필요한 타임리프 문법은 xml 로 빼서 관리할 거임
            해당 html 파일과 xml파일의 연결은 config > thymeleafConfig-->

<!-- 이거 대신   -->
<!--    <header th:replace="~{header :: #header}"></header>-->
<!-- 이거로 하기  -->
<header id="header"></header>


<main>
    <!--    검색 파트 -->
    <form action="#">
        <label for="search-type" hidden>유형</label>
        <select id="search-type">
            <option value="">제목</option>
            <option value="">본문</option>
            <option value="">id</option>
            <option value="">닉네임</option>
            <option value="">해시태그</option>
        </select>

        <label for="search-value" hidden>검색어</label>
        <input type="search" placeholder="검색어를 입력하세요" name="search-value" id="search-value">
        <button type="submit">검색</button>
    </form>

    <!--    게시판 리스트 보여지는 부분 -->
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>해시태그</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1번글</td>
            <td>#java</td>
            <td>bitstudy</td>
            <td>2022-12-22</td>
        </tr>
        <tr>
            <td>2번글</td>
            <td>#spring</td>
            <td>bitstudy</td>
            <td>2022-12-22</td>
        </tr>
        <tr>
            <td>3번글</td>
            <td>#mysql</td>
            <td>bitstudy</td>
            <td>2022-12-22</td>
        </tr>
        </tbody>

    </table>

    <!--    페이지네이션 -->
    <nav>
        <table>
            <tbody>
            <tr>
                <td>prev</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>next</td>
            </tr>
            </tbody>
        </table>
    </nav>

</main>

<!--    <footer th:replace="~{footer :: #footer}"></footer>-->
<footer id="footer"></footer>


</body>
</html>