<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 해설:  xmlns:th="http://www.thymeleaf.org"
        이거 넣으면 '이제부터 이 문서는 타임리프 템플릿이다' 라는 뜻
 -->

<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <link rel="stylesheet"  href="/css/search_bar.css">
</head>
<body>
<!-- 할 일: 타임리프 deCoupled 로직 적용해보기
            deCoupled 로직이란 html 문서에 타임리프 문법 없이 순수 html 태그 들로만 구성되도록 하는 것
            별도의 필요한 타임리프 문법은 xml 로 빼서 관리할 거임
            해당 html 파일과 xml파일의 연결은 config > thymeleafConfig-->

<!-- 이거 대신   -->
<!--    <header th:replace="~{header :: #header}"></header>-->
<!-- 이거로 하기  -->
<header id="header"></header>
<main class="container">

    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    <form id="search-form">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option value="">제목</option>
                                            <option value="">본문</option>
                                            <option value="">id</option>
                                            <option value="">닉네임</option>
                                            <option value="">해시태그</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                        <input type="text" placeholder="Search..." class="form-control" id="search" name="search">
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="btn btn-base">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <table class="table">
        <thead>
        <tr>
            <th class="col-6">제목</th>
            <th class="col-2">해시태그</th>
            <th class="col-2">작성자</th>
            <th class="col-2">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1번글</td>
            <td>#java</td>
            <td>bitstudy</td>
            <td>2022-12-22</td>
        </tr>
        <tr>
            <td>2번글</td>
            <td>#spring</td>
            <td>bitstudy</td>
            <td>2022-12-22</td>
        </tr>
        <tr>
            <td>3번글</td>
            <td>#mysql</td>
            <td>bitstudy</td>
            <td>2022-12-22</td>
        </tr>
        </tbody>

    </table>
    <nav class="d-flex justify-content-center">
        <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
            <li class="page-item">
                <a class="page-link no-border" href="#">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link no-border" href="#">1</a></li>
            <li class="page-item"><a class="page-link no-border" href="#">2</a></li>
            <li class="page-item"><a class="page-link no-border" href="#">3</a></li>
            <li class="page-item"><a class="page-link no-border" href="#">4</a></li>
            <li class="page-item">
                <a class="page-link no-border" href="#">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>

</main>

<footer id="footer">
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>